.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 750px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-width: 640px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    max-width: 420px;
    margin: 0 auto 36px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 282px;
  }
}
